@CHARSET "ISO-8859-1";

h1 {
	color: #fe2c2c;
	font-size: 3em;
	text-align: center;
	font-family: Arial;
	font-style: bold;
}

#searchDiv {
	text-align: center;
}

table {
	padding: 40px;
	border-spacing: 10px;
	border-collapse: separate;
}

fieldset {
	border: 1px solid gray;
	width: 30%;
	margin-right: 1%;
	float: left;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px solid gray;
	font-size: 90%;
	text-align: right;
}

#flickr img {
	max-width: 95%;
}